<!DOCTYPE html>
<html>
<head>
  <title>greetings</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.2.0/material.min.js"></script>
</head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Greeting Application Help</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="/">Home</a>
            <a class="mdl-navigation__link" href="/greeting">Manage Greetings</a>
            <a class="mdl-navigation__link" href="/person">Manage Persons</a>
            <a class="mdl-navigation__link" href="/help">Help</a>
          </nav>
        </div>
      </header>
      <main class="mdl-layout__content">
        <div class="page-content">
          <h2>How to use the app</h2>
          <p>It's simple...don't</p>
        </div>
      </main>
    </div>
  </body>
</html>
